<div class="login">
    <div class='text-center'>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
    <h4 class='blue-1'><strong><i class="fa fa-caret-right"></i> 신청 가능 도서</strong></h4>
    <table class="table" id='book'>
        <tbody>
        
          <tr>
            <td>전공</td>
            <td>제목</td>
            <td></td>
          </tr>
          
        <% @able_book.each do |x| %>
          <tr>
            <td><%= x.major.mname %></td>
            <td><%= x.btitle %></td>
            <td>
                <% if x.user_id.nil? %>
                    <%= form_tag(book_selecting_path, method: "GET") do %>
                        <%= hidden_field_tag 'book_id', x.id %>
                        <%= hidden_field_tag 'btitle', x.btitle %>
                        <%= submit_tag "신청하기", class: "apply" %>
                    <% end %>
                <% else %>
                    <span class='red'>절판</span>     
                <% end %>
            </td>
          </tr>
        <% end %>
        
        </tbody>
    </table>

    <h4 class='blue-1'><strong><i class="fa fa-caret-right"></i> 내 신청 현황</strong></h4>
    <table class="table" id='book'>
        <tbody>
        
          <tr>
            <td>전공</td>
            <td>제목</td>
            <td>학년</td>
            <td>현황</td>
          </tr>
          
        <% @book.where(user_id: current_user).each do |y| %>
          <tr>
            <td><%= y.major.mname %></td>
            <td><%= y.btitle %></td>
            <td><%= y.bgrade %></td>
            <td>
                <%= form_tag(book_destroy_path, method: "GET") do %>
                    <%= hidden_field_tag 'book_id', y.id %>
                    <%= hidden_field_tag 'btitle', y.btitle %>
                    <%= submit_tag "반납하기", class: "return" %>
                <% end %>
            </td>
          </tr>
        <% end %>
        
        </tbody>
    </table>
<br>
<div class="col-md-8"></div>
<div class="col-md-4">
  <%= link_to "/book/manage", method: "get" do %>            
    <%= button_tag "현황보기", class: "locker-button" %>
  <% end %>
&nbsp
&nbsp
&nbsp
  <%= link_to "/home/index", method: "get" do %>            
    <%= button_tag "홈으로 가기", class: "locker-button" %>
  <% end %>
</div>
</div>


