<h1>Book#index</h1>
<h2>매물로 나온 책들을 보여주는 곳</h2>
<% @book.each do |x| %>
    책제목 : <%= x.btitle %> | 수업 : <%= x.bclass %> | <%= x.bgrade %>학년
    <% if x.user_id.nil? %>
    
        <%= form_tag(book_selecting_path, method: "GET") do %>
            <%= hidden_field_tag 'book_id', x.id %>
            <%= hidden_field_tag 'btitle', x.btitle %>
            <%= submit_tag("갖기") %>
        <% end %>
    
    <% else %>
        &nbsp;&nbsp;&nbsp; 임자 있음      
    <% end %>
    <br> 
<% end %>
<h2>자신이 점유한 책 보여주는 곳</h2>
<% @book.where(user_id: current_user).each do |y| %>
    책제목 : <%= y.btitle %> | 수업 : <%= y.bclass %> | <%= y.bgrade %>학년
<% end %> 

<br>
<%= link_to "현황 보기", book_manage_path %>


