<div class="login">
    <div class='text-center'>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
    <h1> 사물함을 얻지 못했습니다</h1>
    <h3> 제한 인원 <%= current_user.major.locker_limit %>명 <br><br> <%= current_user.my_num %>번째로 버튼을 클릭하셨습니다.</h3>
<br>
<br>
<div class="col-md-8"></div>
<div class="col-md-4">
  <%= link_to "/home/index", method: "get" do %>            
    <%= button_tag "홈으로 가기", class: "locker-button" %>
  <% end %>
  <%# if @time.hour == 10 && @time.min == 53 %>
      <h1>asdsad</h1>
      <% time = Time.now + 9.hours %>
      <h1><%=  time.hour %><%=  time.min %></h1>
    <%# end %>
</div>
</div>