<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application' %>
  
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>시간 카운트 다운 </p>
<div class="countdown">
   Limited Time Only!
   <span id="clock"></span>
</div>
<% if user_signed_in? %>
  <li>
    <%= current_user.username %>
    <%= link_to('회원정보 수정하기', edit_user_registration_path) %>
    <%= link_to('로그아웃', destroy_user_session_path) %>
  </li>
<% else %>
  <li>
    <%= link_to('로그인하기', new_user_session_path)  %>
    <%= link_to('회원가입', new_user_registration_path)  %>
  </li>
<% end %>

<%= yield %>
<br>
<% if params[:controller] == 'locker' %>
  <%= link_to('중고책 서비스',  book_index_path) %>
<% elsif params[:controller] == 'book' %>
  <%= link_to('사물함 서비스', locker_index_path) %>
<% elsif params[:controller] == 'home' %>
<% end %>
</body>
</html>
